.criteria-filter {
  border-radius: 25px;
  border: none;
  color: #2f80ed;
  font-weight: bold;
  animation-name: show;
  animation-duration: 1s;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0, 5s;
  }
}

.criteria-search {
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.warning-container-mail {
  position: relative;
}

.warning-form {
  float: right;
  position: absolute;
  top: -23px;
  right: 0px;
}
